DATABASE_URL=postgresql://user:password@db.supabase.co:5432/postgres
REDIS_URL=rediss://default:token@region.upstash.io:6379
JWT_SECRET=your-jwt-secret-minimum-32-characters-long
COOKIE_SECRET=your-cookie-secret-minimum-32-characters-long
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:7001
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx
RAJAONGKIR_API_KEY=your-rajaongkir-api-key
FONNTE_TOKEN=DsMPfq1yzUFaNRNv2yDGMiBsQJc
